body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    background-image: url(belengotico.png);
    color: #333;
}

.top-bar {
    background-color: #a6a2a2;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    padding: 20px;
    color: #fff;
}

.logo {
    width: 100px;
    height: auto;
    margin-left: 100px;
    margin-right: 20px;
}

.site-title {
    font-size: 36px;
    color: white;
    font-weight: bold;
    margin: 0;
    margin-right: auto;
    padding-left: 20px;
}

.login-container {
    background-color: #004080;
    padding: 15px;
    border-radius: 8px;
    margin-right: 100px;
}

.login-form input {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.login-form button {
    padding: 10px;
    font-size: 14px;
    background-color: #ea7600;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #005a99;
}

.menu-container {
    display: flex;
    width: 100%;
    background-color: #004080;
    padding: 0;
    margin: 0;
}

.menu-form {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-button {
    flex: 1;
    padding: 15px;
    background-color: #004080;
    border: none;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
}

.menu-button {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
}

.menu-button a {
    color: #fff;
    text-decoration: none;
}

.menu-button:hover {
    background-color: #ea7600;
}

.menu-button a:hover {
    color: #fff;
}

.menu-container2 {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu-form2 {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-button2 {
    flex: 1;
    padding: 15px;
    background-color: #ea7600;
    border: none;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
}

.menu-button2 a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
}

.menu-button2:hover {
    background-color: #003366;
}

.menu-button2 a:hover {
    color: #fff;
}

.news-section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
}

.card {
    padding: 5px;
    margin-bottom: 20px;
    background-color: #ea7500d4;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #003366;
    margin-bottom: 10px;
}

.noticia {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 15px;
}

.noticia img {
    width: 150px;
    border-radius: 8px;
}

.noticia .date {
    font-size: 12px;
    color: #555;
    margin-bottom: 5px;
}

.noticia h3 {
    margin-bottom: 10px;
}

.noticia p {
    margin-bottom: 0;
}

.footer {
    background-color: #004080;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    margin: 10px;
    min-width: 200px;
}

.footer-column h3 {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #ddd;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 8px;
}

@media (max-width: 360px) {
    .header {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        width: 50px;
        margin: 0;
    }
    
    .site-title {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .login-container {
        padding: 10px;
        margin-right: 0;
        width: 100%;
    }

    .login-form {
        flex-direction: column;
        align-items: stretch;
    }

    .login-form input {
        font-size: 12px;
        padding: 8px;
        margin-bottom: 10px;
        width: 100%;
    }

    .login-form button {
        font-size: 12px;
        padding: 8px;
        width: 100%;
        margin-top: 10px;
    }

    .footer {
        padding: 15px;
    }

    .footer-column {
        min-width: 100%;
        margin-bottom: 10px;
    }

    .footer-column h3 {
        font-size: 14px;
    }

    .footer-column li {
        font-size: 12px;
    }
}
