body {
    background-color: #49A9F4; /* Fondo amarillo */
    color: #333; /* Color del texto */
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #296799; /* Azul oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #F5C360; /* Rojo medio */
    padding: 10px;
}

nav a {
    color: #ffffff; /* Texto blanco */
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #E64C4E; 
}

footer {
    background-color: #B83535; 
    color: #ffffff; 
    text-align: center;
    padding: 10px;
}

.card {
    background-color: #ffffff; /* Fondo blanco para tarjetas */
    border: 2px solid #DA3F3F; 
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

button {
    background-color: #E64C4E; /* Rojo claro */
    color: #ffffff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #DA3F3F; /* Rojo oscuro al pasar el ratón */
}

@media (max-width: 600px) {
    header {
        font-size: 1.5em; /* Tamaño reducido en móviles */
    }

    nav {
        font-size: 0.9em;
    }

    .card {
        margin: 10px;
    }
}
